<!DOCTYPE html>
<script src="{{ url_for('static', filename='js/core.js') }}"></script>

<html>
<head>
    <title>Yahoo Finance Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Yahoo Finance Flask App</h1>
    
    <!-- Country selector -->
    <label for="Country_selector">Select Country from dropdown: </label>
    <select id="Country_selector" name="Select_countries" onchange="updateStocksDropdown()">
        <option value="Blank">-</option>
        <option value="Aus">Australia</option>
        <option value="US">US</option>
    </select>
    <div id="message"></div>
    
    <!-- All stock selector -->
    <label for="Stock_selector">Select Stock from all: </label>
    <select id="Stock_selector" name="Select_stocks"></select>

    <!-- Filter stock name dynamically -->
    <div>
        <label for="Filter_input">Filter Stocks: </label>
        <input type="text" id="Filter_input" onkeyup="filterStocks()">
    </div>
    <div id="filteredStocksDropdown"></div>

    <!-- Add button to add selected stock to table -->
    <button onclick="addSelectedStock()">Add Selected Stocks to Table</button>

    <!-- Table to display selected stocks -->
    <div class="table-container">
        <table class="sortable" id="selectedStocksTable" border="1">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Stock Code</th>
                    <th onclick="sortTable(1)">Country</th>
                    <th onclick="sortTable(2)">Price ($)</th>
                    <th onclick="sortTable(3)">Market Cap ($mil)</th>
                    <th onclick="sortTable(4)">Number Available Shares ($mil)</th>
                    <th onclick="sortTable(5)">Year Low Price ($)</th>
                    <th onclick="sortTable(6)">Year High Price ($)</th>
                    <th onclick="sortTable(7)">50 Day MA ($)</th>
                    <th onclick="sortTable(8)">200 Day MA ($)</th>
                    <th onclick="sortTable(9)">Acquirers Multiple</th>
                    <th onclick="sortTable(10)">Current Ratio</th>
                    <th onclick="sortTable(11)">Enterprise Value ($mil)</th>
                    <th onclick="sortTable(12)">EPS ($)</th>
                    <th onclick="sortTable(13)">EV / EBITDA</th>
                    <th onclick="sortTable(14)">EV / Revenue</th>
                    <th onclick="sortTable(15)">PE Ratio (Trail)</th>
                    <th onclick="sortTable(16)">PE Ratio (Forw)</th>
                    <th onclick="sortTable(17)">Price / Sales</th>
                    <th onclick="sortTable(18)">Price / Book</th>
                    <th onclick="sortTable(19)">Dividend Yield (%)</th>
                    <th onclick="sortTable(20)">Dividend Rate ($)</th>
                    <th onclick="sortTable(20)">ex Dividend Date (D/M/Y)</th>
                    <th onclick="sortTable(21)">Payout Ratio (%)</th>
                    <th onclick="sortTable(22)">Book Value / Share ($)</th>
                    <th onclick="sortTable(23)">Cash ($mil)</th>
                    <th onclick="sortTable(24)">Cash / Share ($)</th>
                    <th onclick="sortTable(25)">Cash / Market Cap</th>
                    <th onclick="sortTable(26)">Cash / Debt</th>
                    <th onclick="sortTable(27)">Debt ($mil)</th>
                    <th onclick="sortTable(28)">Debt / Market Cap</th>
                    <th onclick="sortTable(29)">Debt / Equity (%)</th>
                    <th onclick="sortTable(30)">Return on Assets (%)</th>
                    <th onclick="sortTable(31)">Return on Equity (%)</th>
                    <th onclick="sortTable(32)">EBITDA ($mil)</th>
                    <th onclick="sortTable(33)">EBITDA / Share ($)</th>
                    <th onclick="sortTable(34)">Earnings Growth (%)</th>
                    <th onclick="sortTable(35)">Gross Profit ($mil)</th>
                    <th onclick="sortTable(36)">Gross Profit / Share (%)</th>
                    <th onclick="sortTable(37)">Net Income ($mil)</th>
                    <th onclick="sortTable(38)">Net Income / Share ($)</th>
                    <th onclick="sortTable(39)">Operating Margin (%)</th>
                    <th onclick="sortTable(40)">Profit Margin (%)</th>
                    <th onclick="sortTable(41)">Revenue ($mil)</th>
                    <th onclick="sortTable(42)">Revenue Growth (%)</th>
                    <th onclick="sortTable(43)">Revenue / Share ($)</th>
                    <th onclick="sortTable(44)">FCF ($mil)</th>
                    <th onclick="sortTable(45)">FCF / Market Cap</th>
                    <th onclick="sortTable(46)">FCF / Share ($)</th>
                    <th onclick="sortTable(47)">FCF / EV</th>
                    <th onclick="sortTable(48)">OCF ($mil)</th>
                    <th onclick="sortTable(49)">OCF / Revenue</th>
                    <th onclick="sortTable(50)">OCF / Market Cap</th>
                    <th onclick="sortTable(51)">OCF / Share ($)</th>
                    <th onclick="sortTable(52)">OCF / EV</th>
                </tr>
            </thead>
            <tbody>
                <!-- Stocks added here -->
            </tbody>
        </table>
    </div>

</body>
</html>
