<!DOCTYPE html>
<script src="{{ url_for('static', filename='js/core.js') }}"></script>

<html>
<head>
    <title>Yahoo Finance Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Yahoo Finance Flask App</h1>
    
    <!-- Country selector -->
    <label for="Country_selector">Select Country from dropdown: </label>
    <select id="Country_selector" name="Select_countries" onchange="updateStocksDropdown()">
        <option value="Blank">-</option>
        <option value="Aus">Australia</option>
        <option value="US">US</option>
    </select>
    <div id="message"></div>
    
    <!-- All stock selector -->
    <label for="Stock_selector">Select Stock from all: </label>
    <select id="Stock_selector" name="Select_stocks"></select>

    <!-- Filter stock name dynamically -->
    <div>
        <label for="Filter_input">Filter Stocks: </label>
        <input type="text" id="Filter_input" onkeyup="filterStocks()">
    </div>
    <div id="filteredStocksDropdown"></div>

    <!-- Add button to add selected stock to table -->
    <button onclick="addSelectedStock()">Add Selected Stocks to Table</button>

    <!-- Table to display selected stocks -->
    <div class="table-container">
        <table class="sortable" id="selectedStocksTable" border="1">
            <thead>
                <tr>
                    <!-- Define an array of column names -->
                    <script>
                        var columnNames = [
                            "Stock Code", "Country", "Price ($)", "Market Cap ($mil)",
                            "Number Available Shares ($mil)", "Year Low Price ($)",
                            "Year High Price ($)", "50 Day MA ($)", "200 Day MA ($)",
                            "Acquirers Multiple", "Current Ratio", "Enterprise Value ($mil)",
                            "EPS ($)", "EV / EBITDA", "EV / Revenue", "PE Ratio (Trail)",
                            "PE Ratio (Forw)", "Price / Sales", "Price / Book",
                            "Dividend Yield (%)", "Dividend Rate ($)", "ex Dividend Date (D/M/Y)",
                            "Payout Ratio (%)", "Book Value / Share ($)", "Cash ($mil)",
                            "Cash / Share ($)", "Cash / Market Cap", "Cash / Debt", "Debt ($mil)",
                            "Debt / Market Cap", "Debt / Equity (%)", "Return on Assets (%)",
                            "Return on Equity (%)", "EBITDA ($mil)", "EBITDA / Share ($)",
                            "Earnings Growth (%)", "Gross Profit ($mil)", "Gross Profit / Share (%)",
                            "Net Income ($mil)", "Net Income / Share ($)", "Operating Margin (%)",
                            "Profit Margin (%)", "Revenue ($mil)", "Revenue Growth (%)",
                            "Revenue / Share ($)", "FCF ($mil)", "FCF / Market Cap",
                            "FCF / Share ($)", "FCF / EV", "OCF ($mil)", "OCF / Revenue",
                            "OCF / Market Cap", "OCF / Share ($)", "OCF / EV"
                        ];
    
                        // Generate table headers from the columnNames array
                        for (var i = 0; i < columnNames.length; i++) {
                            document.write('<th onclick="sortTable(' + i + ')">' + columnNames[i] + '</th>');
                        }
                    </script>
                </tr>
            </thead>
            <tbody>
                <!-- Stocks added here -->
            </tbody>
        </table>
    </div>

</body>
</html>
