<!DOCTYPE html>
<script src="{{ url_for('static', filename='js/core.js') }}"></script>

<html>
<head>
    <title>Yahoo Finance Flask App</title>
</head>
<body>
    <h1>Yahoo Finance Flask App</h1>
    
    <label for="Country_selector">Select Country from dropdown: </label>
    <select id="Country_selector" name="Select_countries" onchange="updateStocksDropdown()">
        <option value="Blank">-</option>
        <option value="Aus">Australia</option>
        <option value="US">US</option>
    </select>
    <div id="message"></div>
    
    <label for="Stock_selector">Select Stock from all: </label>
    <select id="Stock_selector" name="Select_stocks"></select>

    <div>
        <label for="Filter_input">Filter Stocks: </label>
        <input type="text" id="Filter_input" onkeyup="filterStocks()">
    </div>
    <div id="filteredStocksDropdown"></div>
    
</body>
</html>
